body {
	margin: 0;
	box-sizing: border-box;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom-data-grid-container .MuiDataGrid-cell:focus,
.custom-data-grid-container .MuiDataGrid-columnHeader:focus,
.custom-data-grid-container .MuiDataGrid-cell:focus-within,
.custom-data-grid-container .MuiDataGrid-sortIcon:focus,
.custom-data-grid-container .MuiDataGrid-sortIcon:focus-within {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: black;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.custom-select-form-control
	.MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-color: transparent !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
