:root {
	--transition: 0.3s ease-in-out all;

	/* box shadow*/
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2:
		0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3:
		0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4:
		0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	---shadow-5: 0px 0px 4px rgba(29, 29, 44, 0.18);
	---shadow-6: 2px 10px 0px 2px rgba(0, 0, 0, 0.3);

	--shadow-7:
		0px -25px 25px rgba(0, 0, 0, 0.05), 0px 25px 25px rgba(0, 0, 0, 0.05);

	--shadow-8: 1px 4px 11px rgba(0, 0, 0, 0.11);
	--shadow-9: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: black;
}

.react-datepicker-popper {
	position: fixed !important;
	z-index: 9999;
}

.react-datepicker {
	/* display: inline-block; */
	padding: 10px;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	font-family: 'SpaceGroteskReg', sans-serif;
}

.react-datepicker__day-names {
	display: flex;
	justify-content: space-between;
}

.react-datepicker__week {
	display: flex;
	justify-content: space-between;
}

.react-datepicker__month-container {
	width: 100%;
}

.date-picker-style {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.react-datepicker__header {
	background-color: white;
	border-bottom: none;
	margin-top: 5px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
	display: none;
}

.react-datepicker__navigation-icon {
	display: none;
}

.react-datepicker .react-datepicker__navigation--next {
	margin-top: 10px;
	margin-right: 7px;
	content: url(./resources/images/svg/arrow-square-right.svg);
}

.react-datepicker .react-datepicker__navigation--previous {
	content: url(./resources/images/svg/arrow-square-left.svg);
	margin-top: 10px;
	margin-left: 7px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
	background-color: #0267d9 !important;
	color: #fff !important;
	border-radius: 50%;
}
.react-datepicker__day--in-selecting-range:not(
	.react-datepicker__day--in-range,
	.react-datepicker__month-text--in-range,
	.react-datepicker__quarter-text--in-range,
	.react-datepicker__year-text--in-range
),
.react-datepicker__month-text--in-selecting-range:not(
	.react-datepicker__day--in-range,
	.react-datepicker__month-text--in-range,
	.react-datepicker__quarter-text--in-range,
	.react-datepicker__year-text--in-range
),
.react-datepicker__quarter-text--in-selecting-range:not(
	.react-datepicker__day--in-range,
	.react-datepicker__month-text--in-range,
	.react-datepicker__quarter-text--in-range,
	.react-datepicker__year-text--in-range
),
.react-datepicker__year-text--in-selecting-range:not(
	.react-datepicker__day--in-range,
	.react-datepicker__month-text--in-range,
	.react-datepicker__quarter-text--in-range,
	.react-datepicker__year-text--in-range
) {
	background-color: #0267d9;
	color: #fff;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
	font-family: 'SpaceGroteskReg', sans-serif;
	border: none;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: transparent;
	color: #1d1d2c;
}

.react-datepicker__day-names {
	margin-top: 20px;
	border-bottom: 1px solid #ececec;
	border-top: 1px solid #ececec;
}

.react-datepicker__header__dropdown,
.react-datepicker__header__dropdown--select {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.react-datepicker__year-dropdown-container,
.react-datepicker__year-dropdown-container--select {
	margin: 0;
}

.react-datepicker__month-dropdown-container,
.react-datepicker__month-dropdown-container--select {
	margin-left: 0;
	margin-right: 0.5;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-end {
	color: white;
}

.react-datepicker-wrapper {
	width: auto;
}

.react-datepicker__day--today {
	/* background-color: #0267D9;
    color: #fff;
    border-radius: 50%; */
}
.react-datepicker__day:hover,
.react-datepicker__day--today:hover {
	/* background-color: #0267D9;
    color: #fff;
    border-radius: 50%; */
}

.react-datepicker__day--outside-month {
	color: transparent !important;
	pointer-events: none;
}

@media (min-width: 800px) {
	/* Styles to apply for devices with a maximum width of 800px */
	.react-swipeable-view-container {
		height: 90vh;
	}
}

.iframe {
	border: 0;
}

.mobileCarousel .react-swipeable-view-container > div {
	width: 347px !important;
}

.swiper-pagination-bullet {
	background-color: #d6d6d9 !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	border-radius: 24px !important;
	width: 18px !important;
	background-color: #1d1d2c !important;
}

.p-inputtext:enabled:focus {
	box-shadow: none !important;
	border: none !important;
}

.p-inputtext::placeholder {
	color: rgba(102, 112, 128, 0.45);
	font-family: 'MontserratMed', sans-serif;
	font-size: '0.875rem';
	font-weight: 500;
}

.p-component {
	font-family: 'MontserratMed', sans-serif !important;
	font-size: 0.875rem !important;
	font-weight: 500 !important;
}

.tinted-image {
	position: relative;
	display: inline-block;
}

.tinted-image img {
	display: block;
	width: 100%;
	height: auto;
}

.tint-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red; /* Replace with your desired color */
	mix-blend-mode: multiply;
}

.react-datepicker__day.react-datepicker__day--012.react-datepicker__day--selected.react-datepicker__day--today {
	background-color: #0267d9 !important;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}
